{# Example of block level filter #}
{% filter title|raw %}
  <h1>{{ siteInfo.title }}</h1>

  <div class="slogan">
    <p style="color:green;"><strong><em>{{ siteInfo.slogan }}</em></strong></p>
  </div>
{% endfilter %}