<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ siteInfo.title}}</title>
</head>
<body>
  {# This is a comment.
   These can be however many lines long we want.
  #}

  {% include 'branding.html.twig' %}

  {# A child template can over-ride the following block #}
  {% block mainContent %}
    <div class="tree-of-the-month">
      <h2>Tree of the Month</h2>

      {% for tree in treesOfTheMonth %}
        <h3>{{ tree.getLabel()|title }}</h3>
        <p>Genus: <em>{{ tree.getGenus() }}</em></p>
        <p>Blooms in : {{ tree.getBloomingSeasons()|title }}</p>

        {% set descr = tree.description %}

        {% if descr|trim|length == 0 %}
          <p><em>Sorry, this tree currently has no description</em></p>
        {% elseif descr|trim|length > 0 and descr|trim|length < 100 %}
          <p>{{ descr }}</p>
        {% else %}
          <p>{{ descr|slice(0,99) }}... <a href="">more</a></p>
        {% endif %}
      {% endfor %}

    </div>
  {% endblock mainContent %}

  {# A child template can over-ride the following block #}
  {% block footer %}
    <footer>
      Copyright 2017 Tree Fans
    </footer>
  {% endblock footer %}
</body>
</html>