{# Example of child template.
It's not used for this test site
#}
{%  extends 'front.html.twig' %}

{%  block mainContent %}
  {{ parent() }}
  <p>Normally , the website would be pulling some real information and would put it here</p>
{% endblock %}