<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <link rel="stylesheet" href="style.css">
      <title>{% block title %}{% endblock %} - The Webpage</title>
    {% endblock %}
  </head>

  <body>
    <div id="content">{% block content %}{% endblock %}</div>
    <p>{{ greeting ~ ' ' ~ name }}</p>
    <p>{{ greeting | lower ~ ' ' ~ name }}</p>
    <p>{{ (greeting | lower ~ ' ' ~ name) | lower }}</p>
    <p>{% block extra %}This is the base text{% endblock %}</p>
    <div id="footer">
      {% block footer %}
        <div>&copy; Copyright 23476 by Soandso</div>
      {% endblock %}

    </div>
  </body>
</html>
