{% extends 'base.html' %}

{% set greeting = 'Hello' %}
{% set name = 'Daryl' %}


{% block title %}Boom{% endblock %}

{% block head %}
  <style type="text/css">
    body {
      color: #AE150F;
    }
  </style>
{% endblock %}

{% block content %}
  <h1>Header here</h1>
  <p>Here is the content.</p>
{% endblock %}

{% block extra %}
  This is the child text.
  {{ parent() }}
{% endblock %}
