{#
  Here is a comment.
  It can be however many lines long.
#}
<p>{{ text }}</p>
<p>{{ myBox.shape }}</p>
<p>{{ myBox.displayShape() }}</p>
<p>{{ someArray.firstThing }}</p>
<p>{{ factoredArray.one }}</p>

{% set person = 'Link' %}

<p>{{ person }}</p>
<p>{{ myBox.shape | upper }}</p>

{% filter upper %}
  <p>{{ someArray.firstThing }}</p>
  <p>{{ factoredArray.one }}</p>
{% endfilter %}

<ul>
{% for thing in factoredArray %}
  <li>{{ thing }}</li>
{% endfor %}
</ul>

{% if donkey is defined %}
  {{ donkey }}
{% endif %}

{% include 'otherpage.html' %}
